<!DOCTYPE html>
<html>
<head>
<?php echo $this->getChildHtml('head') ?>
<script id="pap_x2s6df8d" type="text/javascript" src="http://my.goaff.com/scripts/trackjs.js"></script>
</head>
<body<?php 
$lang =  Mage::app()->getStore()->getCode();
echo $this->getBodyClass()?' class="'.$this->getBodyClass().' '.$lang.'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper container_12">
    <?php echo $this->getChildHtml('header') ?>
    <div class="grid_12">
        <?php echo $this->getChildHtml('global_notices'); ?>
        
        <?php
        
        $_messages=$this->getChildHtml('global_messages');
       
        print($_messages);
        ?>
    </div>
    <div class="page">
        
        <div class="main-container col1-layout">
            <div class="main">
               <div class="grid_12">
                
                    
                    <?Php
                        $orderId = 0;
                        $order_NR = 0;
                        if (isset($_GET['order_id']) and isset($_GET['order_NR']))
                        {
                            $orderId = $_GET['order_id'];
                            $order_NR = $_GET['order_NR'];
                            $order = Mage::getModel('sales/order')->load($orderId);
                        }
                        else
                        {
                            $orderId =  Mage::getSingleton('checkout/session')->getLastOrderId();
                            $order = Mage::getModel('sales/order')->load($orderId);
                            $order_NR =  $order->getIncrementId(); 
                        }
                        if ($orderId and $order_NR)
                        {
                            $orderId = $_GET['order_id'];
                            $order_NR = $_GET['order_NR'];
                            
                            $_grand = $order->getGrandTotal();
                            $_totalData =$order->getData();
                                                    
                            //$_subtotal = $_totalData['base_grand_total']-$_totalData['shipping_incl_tax']; //no tax no shipping
                            $_subtotal = $_totalData['base_subtotal'];
                            ?>
                            
                            <h1 class="page-title"><?php echo $this->__('Your order has been canceled.') ?>(<?php print($order_NR);?>)</h1>
                            <?Php
                            
                            print($this->getLayout()->createBlock('cms/block')->setBlockId('transaction_failed')->toHtml());
                            
                            if (strlen($order_NR)>0)
                            {
                                    ?>
                                <script type="text/javascript">
                                    PostAffTracker.setAccountId('c54f7053'); // Important, do not change
                                    var sale = PostAffTracker.createSale();
                                    sale.setOrderID('BBS<?Php print($order_NR) ?>'); // order ID (please keep prefix BBS, for example BBS8594F where 8594F stands for OrderId )
                                    sale.setTotalCost('<?Php print(number_format(round($_subtotal,2),2,'.','')); ?>'); // product value
                                    sale.setCampaignID('d034518c'); // Important, do not change
                                    sale.setCurrency('GBP'); // currency
                                    sale.setStatus('D'); // P - Pending, A - approved, D - declined
                                    PostAffTracker.register();
                                </script>
                                <?Php
                            }
                            
                            
                        }
                        else
                        {
                            ?>
                            <h1 class="page-title"><?php echo $this->__('Your order has been canceled.') ?>(<?php print($order_NR);?>)</h1>
                            <?Php
                                print($this->getLayout()->createBlock('cms/block')->setBlockId('transaction_failed')->toHtml());
                        
                        }
                            
                        ?>
                    
                </div>
            </div>
        </div>
        
        <?php echo $this->getChildHtml('subscribe_block') ?>
        <?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('before_body_end') ?>
    </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>